
root.aux

root.fdb_latexmk

root.fls

root.log

root.synctex.gz

Appendices/AppendixA.aux

Chapters/Chapter1.aux

main-blx.bib

main.bbl

main.dvi

main.run.xml

main.synctex.gz

main.aux

main.bcf

main.blg

main.fdb_latexmk

main.fls

main.lof

main.log

main.out

main.toc

main.lot

principal.pdf

principal.bbl

principal.dvi

principal.run.xml

principal.synctex.gz

principal.aux

principal.bcf

principal.blg

principal.fdb_latexmk

principal.fls

principal.lof

principal.log

principal.out

principal.toc

principal.lot