
root.aux

root.fdb_latexmk

root.fls

root.log

root.synctex.gz

Appendices/AppendixA.aux

Chapters/Chapter1.aux

main-blx.bib

main.bbl

main.dvi

main.run.xml

main.synctex.gz

#Extras que me salieron al compilar el documento
main.aux

main.bcf

main.blg

main.fdb_latexmk

main.fls

main.lof

main.log

main.out

main.toc

main.lot